{% extends "base.html" %}

{% block head_before %}
<script type="text/javascript">
//auto expand textarea

var num_childs=2;

function add_child(){
	num_childs++;

	var plus_sign = document.createElement("font");
	plus_sign.appendChild(document.createTextNode("+"))
	plus_sign.size=6;

	var d_name = "child"+num_childs.toString();
	
	var child = document.createElement("input");
	child.type="text"
	child.list="particles";
	child.placeholder="Child "+num_childs.toString();
	child.id=d_name;
	child.setAttribute('list', 'particles');
	child.name=d_name;

	var boxes = document.getElementById("child_text_boxes");

	boxes.appendChild(document.createTextNode(" "));
	boxes.appendChild(plus_sign);
	boxes.appendChild(document.createTextNode(" "));
    boxes.appendChild(child);
}

function rm_child(){

	var boxes = document.getElementById("child_text_boxes");
	
	if (boxes.childNodes.length > 3){
		boxes.removeChild(boxes.lastChild);
		boxes.removeChild(boxes.lastChild);
		boxes.removeChild(boxes.lastChild);
		boxes.removeChild(boxes.lastChild);
		num_childs--;
	}
}

function make_new_particle(){
	$("#choose_particle_type_buttons").css("display", "none");
	$("#new_particle_submit_buttons").css("display", "block");

	var name = document.createElement("input");
	name.type="text";
	name.placeholder = "Name of Particle";
	name.name="name";

	var mass = document.createElement("input");
	mass.type="text";
	mass.placeholder="Mass in GeV";
	mass.name="mass"

	span=$("#new_particle_submit_buttons");
	span.prepend(mass);
	span.prepend(name);

}

function make_new_excitation(){
	$("#choose_particle_type_buttons").css("display", "none");
	$("#new_particle_submit_buttons").css("display", "block");

	//var name = 
}


function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}

var particles = [
			     {% for p in p_list %}
		      {{ p.name_js|safe }},
		     {% endfor %}
]

function checkdecay() {
    if (!particles.includes(document.addnewdecay.parent.value)){
    	alert("The parent particle entered is not known. Please use one from list or submit a new particle to the system.");
        return false;
    }

    for (var i = 1; i<=num_childs;i+=1){
    	var d_name = document.getElementById("child"+i.toString()).value
    	if (!particles.includes(d_name)){
    		alert("Child "+d_name+" is not known. Please use one from list or submit a new particle to the system. (If you add a new particle, it will be considered by admins before appearing in database)");
    		return false;
    	}	
	}


    if(!isNumeric(document.addnewdecay.branching_fraction.value)) {
        alert("There was an issue with the entered branching fraction. Please enter a number: e.g. 0.23");
        return false;
    }

    if(isNumeric(document.addnewdecay.branching_fraction.value)<0) {
        alert("Please enter positive branching fraction.");
        return false;
    }
    if(isNumeric(document.addnewdecay.branching_fraction.value)>1) {
        alert("Please branching fraction which is lower than 1.");
        return false;
    }    

    document.addnewdecay.submit();
}


function isNumeric(value) {
    if(/^(\-|\+)?[0-9]+(\.[0-9]+)?(e(\-)?[0-9]+)?$/
      .test(value))
      return Number(value);
  	else if (/^(\.[0-9]+)?(e(\-)?[0-9]+)?$/
      .test(value))
      return Number(value);
  return NaN;
}


function checkparticle() {
	if(!isNumeric(document.addnewparticle.new_particle_charge.value)){
	    alert("Particle charge should be a number.");
        return false;	
	}
	if(!isNumeric(document.addnewparticle.new_particle_mass.value)){
	    alert("Particle mass should be a number.");
        return false;	
	}	
	if(isNumeric(document.addnewparticle.new_particle_mass.value)<0){
	    alert("Particle mass should be positive.");
        return false;	
	}	

    document.addnewparticle.submit();
}


</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/pretty-form2.css">
{% endblock %}

{% block content %}
<div class="row">
	<h2 class="text-left">Submit A New Decay Channel</h2>
	<p>If you have noticed there is a decay which is not in our system, we greatly appreciate your help in notifying us with the form below! </p>
	<p style="color: red;">NOTE: If this decay contains a particle new to our system, you'll have to add a new particle first, and it will need to be considered by admins before appearing in the database.</p>
	<div class="col-sm-8 text-center" id="decay-channel">

		<form name=addnewdecay action="/add_decay" method="post">
			<span id="decay_boxes">
			<datalist id="particles">
		     {% for p in p_list %}
		      <option>{{ p.name|safe }}</option>
		     {% endfor %}
			</datalist> 
		    <input type="text" list="particles" name="parent" placeholder="Parent Particle" /> <font size="6">&rArr;</font>
		    <span id="child_text_boxes">
		    	<input type="text" list="particles" name="child1" id="child1"placeholder="Child 1" /> <font size="6">+</font>
		    	<input type="text" list="particles" name="child2" id="child2" placeholder="Child 2" /> 
			</span>
		    
		    <input type="button" class="btn btn-success" value="+" style="vertical-align: top" onclick="add_child()" data-toggle="tooltip" title="Add Child"/>

		    <input type="button" class="btn btn-danger" value="-" style="vertical-align: top" onclick="rm_child()" data-toggle="tooltip" title="Remove Child"/>
			</span>

		    <p><textarea name="decay_comment" style="height: 28px; width: 500px" id="decay_comment" placeholder="Comment" onkeyup="adjust_textarea(this)"></textarea> <br />
		    <input type="text" name="branching_fraction" id="branching_fraction" placeholder="Branching Fraction" required/> <input type="text" name="decay_source" id="decay_source"placeholder="Link to Source" data-toggle="tooltip" title="Please include a link to a citation of the decay if one can be provided"/></p>
		    <p><input class="btn btn-primary" value="Add Decay" onClick="return checkdecay();"/></p>
	  </form>
	</div>
</div>

<div class="row">
	<h2 class="text-left">Submit A New Particle</h2>
	<p>If you have noticed there is a particle missing from the list on the <a href="howto-search">how to search</a> page, we greatly appreciate your help in notifying us with the form below!</p>
	<div class="col-sm-8 text-center" id="new-particle">
		<form name="addnewparticle" action="/add_particle" method="post">
		    <input type="text" name="new_particle_name" id="new_particle_name" placeholder="Particle Name"> <input type="text" name="new_particle_mass" placeholder="Mass (GeV)"><br>
		    <input type="text" name="new_particle_charge" id="new_particle_charge" placeholder="Particle Charge (e)"> <input type="text" name="new_particle_antiparticle" placeholder="Antiparticle (Blank for self)"> 
		    <p><textarea style="height: 28px; width: 500px" name="new_particle_comment" id="new_particle_comment" placeholder="Comment" onkeyup="adjust_textarea(this)"></textarea><br />
		    <input type="text" name="new_particle_source" id="new_particle_source" placeholder="Link to Source" data-toggle="tooltip" title="Please include a link to a citation of an observation of the particle if one can be provided"/></p>
		    <p><input class="btn btn-primary" value="Add Particle" onClick="return checkparticle();"/></p></span>
	  </form>
	</div>
</div>



{% endblock %}
