{% extends "base.html" %}

{% block content %}
<h2 class="text-left">New Decays:</h2>

<table class="table-striped" id="decays_table" style="width: 100%">
  <tr>
      <td style="width: 10%"><strong>Parent</strong></td>
      <td style="width: 30%"><strong>Daughters</strong></td>
      <td style="width: 10%"><strong>Source</strong></td>
      <td style="width: 10%"><strong>Comment</strong></td>
      <td style="width: 10%"><strong>Branching</strong></td>
      <td style="width: 30%"><strong>Action</strong></td>
  </tr>
  {% for d in decs_pending %}
  <tr id="row_decays_{{ d._id }}">
      <td style="width: 10%"><span name="parent" class="text-editable" id="parent_{{ d._id }}">{{ d.parent }}</span><input class="input-editable" id="parent_{{ d._id }}_input" style="display: none"></input></td>
      <td style="width: 30%"><span name="childs" class="text-editable" id="childs_{{ d._id }}">{{ d.childs }}</span> <input class="input-editable" id="childs_{{ d._id }}_input" style="display: none"></input></td>
      <td style="width: 10%">{{ d.source }}</td>
      <td style="width: 10%">{{ d.comment }}</td>
      <td style="width: 10%">{{ d.br_frac }}</td>
      <td style="width: 30%">
      <input type="submit" class="btn btn-success approve approve-decay" name="approve_{{ d._id }}" value="Approve" /> 
      <input type="submit" class="btn btn-warning deny deny-decay" name="deny_{{ d._id }}" value="Deny" />
      <input type="submit" class="btn btn-danger delete delete-decay" name="delete_{{ d._id }}" value="Delete" /></td>
  </tr>
  {% endfor %}
</table>

<h2 class="text-left">New Particles:</h2>

<table class="table-striped" id="particles_table" style="width: 100%">
  <tr>
      <td style="width: 15%"><strong>Name</strong></td>
      <td style="width: 10%"><strong>Mass (GeV)</strong></td>
      <td style="width: 10%"><strong>Charge (e)</strong></td>
      <td style="width: 15%"><strong>Antiparticle</strong></td>
      <td style="width: 10%"><strong>Source</strong></td>
      <td style="width: 10%"><strong>Comment</strong></td>
      <td style="width: 30%"><strong>Action</strong></td>
  </tr>
  {% for p in particles_pending %}
  <tr id="row_particles_{{ p._id }}">
      <td style="width: 15%"><span name="name" class="text-editable" id="name_{{ p._id }}">{{ p.name }}</span><input class="input-editable" id="name_{{ p._id }}_input" style="display: none"></input></td>
      <td style="width: 10%"><span name="mass"  class="text-editable" id="mass_{{ p._id }}">{{ p.mass }}</span> <input class="input-editable" id="mass_{{ p._id }}_input" style="display: none"></input></td>
      <td style="width: 10%">{{ p.charge }}</td>
      <td style="width: 15%">{{ p.antiparticle }}</td>
      <td style="width: 10%">{{ p.source }}</td>
      <td style="width: 10%">{{ p.comment }}</td>
      <td style="width: 30%"><input type="submit" class="btn btn-success approve approve-particle" name="approve_{{ p._id }}" value="Approve" /> <input type="submit" class="btn btn-warning deny deny-particle" name="deny_{{ p._id }}" value="Deny" />
      <input type="submit" class="btn btn-danger delete delete-particle" name="delete_{{ p._id }}" value="Delete" />
    </td>
  </tr>
  {% endfor %}
  </table>

    <h2 class="text-left">Considered Decays:</h2>
    
    <table class="table-striped" id="decays_table" style="width: 100%">
      <tr>
          <td style="width: 10%"><strong>Parent</strong></td>
          <td style="width: 30%"><strong>Daughters</strong></td>
          <td style="width: 10%"><strong>Source</strong></td>
          <td style="width: 10%"><strong>Comment</strong></td>
          <td style="width: 10%"><strong>Branching</strong></td>
          <td style="width: 10%"><strong>Status</strong></td>
          <td style="width: 20%"><strong>Action</strong></td>
      </tr>
      {% for d in decs_approved %}
      <tr id="row_decays_{{ d._id }}">
      <td style="width: 10%">{{ d.parent }}</td>
      <td style="width: 30%">{{ d.childs }}</td>
          <td style="width: 10%">{{ d.source }}</td>
          <td style="width: 10%">{{ d.comment }}</td>
          <td style="width: 10%">{{ d.br_frac }}</td>
          <td style="width: 10%">Approved</td>
          <td style="width: 20%"><input type="submit" class="btn btn-warning reconsider reconsider-decay" name="reconsider_{{ d._id }}" value="Reconsider" />
          </td>
      </tr>
      {% endfor %}
      {% for d in decs_declined %}
      <tr id="row_decays_{{ d._id }}">
      <td style="width: 10%">{{ d.parent }}</td>
      <td style="width: 30%">{{ d.childs }}</td>
          <td style="width: 10%">{{ d.source }}</td>
          <td style="width: 10%">{{ d.comment }}</td>
          <td style="width: 10%">{{ d.br_frac }}</td>
          <td style="width: 10%">Declined</td>
          <td style="width: 20%"><input type="submit" class="btn btn-warning reconsider reconsider-decay" name="reconsider_{{ d._id }}" value="Reconsider" /> 
          </td>
      </tr>
      {% endfor %}
    </table>
    
    <h2 class="text-left">Considered Particles:</h2>
    
    <table class="table-striped" id="particles_table" style="width: 100%">
      <tr>
          <td style="width: 15%"><strong>Name</strong></td>
          <td style="width: 10%"><strong>Mass (GeV)</strong></td>
          <td style="width: 10%"><strong>Charge (e)</strong></td>
          <td style="width: 15%"><strong>Antiparticle</strong></td>
          <td style="width: 15%"><strong>Source</strong></td>
          <td style="width: 20%"><strong>Comment</strong></td>
          <td style="width: 20%"><strong>Status</strong></td>
      </tr>
      {% for p in particles_approved %}
      <tr id="row_particles_{{ p._id }}">
      <td style="width: 15%">{{ p.name }}</td>
      <td style="width: 10%">{{ p.mass }}</td>
          <td style="width: 10%">{{ p.charge }}</td>
          <td style="width: 15%">{{ p.antiparticle }}</td>
          <td style="width: 15%">{{ p.source }}</td>
          <td style="width: 20%">{{ p.comment }}</td>
          <td style="width: 20%">Approved</td>
      </tr>
      {% endfor %}
      {% for p in particles_declined %}
      <tr id="row_particles_{{ p._id }}">
      <td style="width: 15%">{{ p.name }}</td>
      <td style="width: 10%">{{ p.mass }}</td>
          <td style="width: 10%">{{ p.charge }}</td>
          <td style="width: 15%">{{ p.antiparticle }}</td>
          <td style="width: 15%">{{ p.source }}</td>
          <td style="width: 20%">{{ p.comment }}</td>
          <td style="width: 20%">Declined</td>
      </tr>
      {% endfor %}
      </table>


<!-- This makes the parent and child text editable for decays -->
<script type="text/javascript">
  
  // ================================================
  // Make editable labels
  // ================================================

  function checkValidList(input){
    if(input.attr("id").substring(0,9) != "childs"){
      return true
    }
    else{
      var str=input.val()
      str=str.replace(/ /g, "")
      if(str.charAt(0) == '[' && str.charAt(str.length-1) == ']')
      {
        childs=str.slice(1,-1).split(",")
        for (var i=0; i<childs.length; i+=1){
          var d=childs[i]
          if (! (d.charAt(0) == '\'' && d.charAt(d.length-1) == '\'')){
            alert("The string is not properly formatted, check that each element is wrapped in a \'")
            return false
          }
        }
        return true
      } 
      else{
        alert("The list is not properly formatted, check enclosing [ ].");
        return false
      }
    }
  }

    $('.text-editable').click(function() {
    var input=$(this)
    input.css('display', 'none');
    $("#"+$(input).attr("id")+"_input")
      .val(input.text())
      .css('display', '')
      .focus()
  })

  //Text input blur
  $('.input-editable').blur(function() {
    var input=$(this)
    if(checkValidList(input)){
      input.css('display', 'none');
      $('#'+input.attr("id").slice(0, -6))
        .text(input.val())
        .css('display', '')
    }
  })

  $('.input-editable').keyup(function(event) {
    if(event.keyCode == 13){
      $(this).blur() 
    }
  })

  // ================================================
  // Make buttons add and remove from table
  // ================================================

  function removeRow(type, id){
    var row_id = ""
    if (type=="particle"){
      row_id="row_particles_"+id
    }
    else{
      row_id="row_decays_"+id 
    }

    $("#"+row_id).remove()
  }


  $('.deny').click(function(){
    var type = ""
    
    //Find Type:
    if ($(this).hasClass("deny-particle")){
      type="particle"
    }
    else{
      type="decay"
    }

    //Extract ID:
    var id = $(this).attr("name").substring(5)
    alert(type+" "+id)

    $.getJSON('/admin_panel/rm/'+type+"/"+id, function(data) {
      if (data['result']){
        removeRow(type, id)
      }
      else{
        alert("There was an error removing the row from the table: "+data["err"]+"\n Please try again later.")
      }
  });
  }
  )

  $('.reconsider').click(function(){
    var type = ""
    
    //Find Type:
    if ($(this).hasClass("reconsider-particle")){
      type="particle"
    }
    else{
      type="decay"
    }

    //Extract ID:
    var id = $(this).attr("name").substring(11)
    alert(type+" "+id)

    $.getJSON('/admin_panel/reconsider/'+type+"/"+id, function(data) {
      if (data['result']){
        removeRow(type, id)
      }
      else{
        alert("There was an error reconsidering the row from the table: "+data["err"]+"\n Please try again later.")
      }
  });
  }
  )


  $('.delete').click(function(){
    var type = ""
    
    //Find Type:
    if ($(this).hasClass("delete-particle")){
      type="particle"
    }
    else{
      type="decay"
    }

    //Extract ID:
    var id = $(this).attr("name").substring(7)
    alert(type+" "+id)

    $.getJSON('/admin_panel/delete/'+type+"/"+id, function(data) {
      if (data['result']){
        removeRow(type, id)
      }
      else{
        alert("There was an error deleting the row from the table: "+data["err"]+"\n Please try again later.")
      }
  });
  }
  )


  $('.approve').click(function(){
    var type = ""
    
    //Find Type:
    if ($(this).hasClass("approve-particle")){
      type="particle"
    }
    else{
      type="decay"
    }

    //Extract ID:
    var id = $(this).attr("name").substring(8)
    alert(type+" "+id)

    $.getJSON('/admin_panel/add/'+type+"/"+id, function(data) {
      if (data['result']){
        removeRow(type, id)
      }
      else{
        alert("There was an error approving the row from the table: "+data["err"]+"\n Please try again later.")
      }
  });
  }

  )

</script>

{% endblock %}
