{% extends "base.html" %}

{% block head_before %}
<script type="text/javascript">
//auto expand textarea

var num_daughters=2;

function add_daughter(){
	num_daughters++;

	var plus_sign = document.createElement("font");
	plus_sign.appendChild(document.createTextNode("+"))
	plus_sign.size=6;

	var d_name = "daughter"+num_daughters.toString();
	
	var daughter = document.createElement("input");
	daughter.list="particles";
	daughter.placeholder="Daughter "+num_daughters.toString();
	daughter.id=d_name;
	daughter.setAttribute('list', 'particles');
	daughter.name=d_name;

	var boxes = document.getElementById("daughter_text_boxes");

	boxes.appendChild(document.createTextNode(" "));
	boxes.appendChild(plus_sign);
	boxes.appendChild(document.createTextNode(" "));
    boxes.appendChild(daughter);
}

function rm_daughter(){

	var boxes = document.getElementById("daughter_text_boxes");
	
	if (boxes.childNodes.length > 2){
		boxes.removeChild(boxes.lastChild);
		boxes.removeChild(boxes.lastChild);
		boxes.removeChild(boxes.lastChild);
		boxes.removeChild(boxes.lastChild);
		num_daughters--;
	}
}

function make_new_particle(){
	$("#choose_particle_type_buttons").css("display", "none");
	$("#new_particle_submit_buttons").css("display", "block");

	var name = document.createElement("input");
	name.type="text";
	name.placeholder = "Name of Particle";
	name.name="name";

	var mass = document.createElement("input");
	mass.type="text";
	mass.placeholder="Mass in GeV";
	mass.name="mass"

	span=$("#new_particle_submit_buttons");
	span.prepend(mass);
	span.prepend(name);

}

function make_new_excitation(){
	$("#choose_particle_type_buttons").css("display", "none");
	$("#new_particle_submit_buttons").css("display", "block");

	//var name = 
}


function adjust_textarea(h) {
    h.style.height = "20px";
    h.style.height = (h.scrollHeight)+"px";
}

var particles = [
			     {% for p in p_list %}
		      {{ p.name_js|safe }},
		     {% endfor %}
]

function checkdecay() {
    if (!particles.includes(document.addnewdecay.mother.value)){
    	alert("Mother particle is not known. Please use one from list or submit a new particle to the system. (If you add a new particle, it will be considered by admins before appearing in database)");
        return false;
    }

    for (var i = 1; i<=num_daughters;i+=1){
    	var d_name = document.getElementById("daughter"+i.toString()).value
    	if (!particles.includes(d_name)){
    		alert("Daughter "+d_name+" is not known. Please use one from list or submit a new particle to the system. (If you add a new particle, it will be considered by admins before appearing in database)");
    		return false;
    	}	
	}


    if(!isNumeric(document.addnewdecay.branching_fraction.value)) {
        alert("Please enter a numeric branching fraction.");
        return false;
    }

    if(isNumeric(document.addnewdecay.branching_fraction.value)<0) {
        alert("Please enter positive branching fraction.");
        return false;
    }
    if(isNumeric(document.addnewdecay.branching_fraction.value)>1) {
        alert("Please branching fraction which is lower than 1.");
        return false;
    }    

    document.addnewdecay.submit();
}


function isNumeric(value) {
    if(/^(\-|\+)?[0-9]+(\.[0-9]+)?(e(\-)?[0-9]+)?$/
      .test(value))
      return Number(value);
  return NaN;
}


function checkparticle() {
	if(!isNumeric(document.addnewparticle.new_particle_charge.value)){
	    alert("Particle charge should be a number.");
        return false;	
	}
	if(!isNumeric(document.addnewparticle.new_particle_mass.value)){
	    alert("Particle mass should be a number.");
        return false;	
	}	
	if(isNumeric(document.addnewparticle.new_particle_mass.value)<0){
	    alert("Particle mass should be positive.");
        return false;	
	}	

    document.addnewparticle.submit();
}


</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/pretty-form2.css">
{% endblock %}

{% block content %}
<div class="row">
	<h2 class="text-left">Submit A New Decay Channel</h2>
	<p>If you have noticed there is a decay which is not in our system, we greatly appreciate your help in notifying us with the form below!</p>
	<div class="col-sm-8 text-center" id="decay-channel">

		<form name=addnewdecay action="/add_decay" method="post">
			<span id="decay_boxes">
			<datalist id="particles">
		     {% for p in p_list %}
		      <option>{{ p.name|safe }}</option>
		     {% endfor %}
			</datalist> 
		    <input list="particles" name="mother" placeholder="Mother Particle" required/> <font size="6">&rArr;</font>
		    <span id="daughter_text_boxes">
		    	<input list="particles" name="daughter1" id="daughter1"placeholder="Daughter 1" /> <font size="6">+</font>
		    	<input list="particles" name="daughter2" id="daughter2" placeholder="Daughter 2" /> 
			</span>
		    
		    <input type="button" class="btn btn-success" value="+" style="vertical-align: top" onclick="add_daughter()" data-toggle="tooltip" title="Add Daughter"/>

		    <input type="button" class="btn btn-danger" value="-" style="vertical-align: top" onclick="rm_daughter()" data-toggle="tooltip" title="Remove Daughter"/>
			</span>

		    <p><textarea name="decay_comment" style="height: 28px; width: 500px" id="decay_comment" placeholder="Comment" onkeyup="adjust_textarea(this)"></textarea> <br />
		    <input type="text" name="branching_fraction" id="branching_fraction" placeholder="Branching Fraction" required/> <input type="text" name="decay_source" id="decay_source"placeholder="Link to Source" data-toggle="tooltip" title="Please include a link to a citation of the decay if one can be provided"/></p>
		    <p><input class="btn btn-primary" value="Add Decay" onClick="return checkdecay();"/></p>
	  </form>
	</div>
</div>

<div class="row">
	<h2 class="text-left">Submit A New Particle</h2>
	<p>If you have noticed there is a particle missing from the list on the <a href="howto-search">how to search</a> page, we greatly appreciate your help in notifying us with the form below!</p>
	<div class="col-sm-8 text-center" id="new-particle">
		<form name=addnewparticle action="/add_particle" method="post">
		    <input type="text" name="new_particle_name" placeholder="Particle Name" required>
		    <input type="text" name="new_particle_mass" id="new_particle_mass" placeholder="Mass (GeV)" required> 
		    <br><input type="text" name="new_particle_charge" id="new_particle_charge" placeholder="Particle Charge (e)" required>
		    <input type="text" name="new_particle_antiparticle" placeholder="Antiparticle (Blank for self)"> 
		    <p><textarea style="height: 28px; width: 500px" name="new_particle_comment" id="new_particle_comment" placeholder="Comment" onkeyup="adjust_textarea(this)"></textarea> <br />
		    <input type="text" name="new_particle_source" id="new_particle_source" placeholder="Link to Source" data-toggle="tooltip" title="Please include a link to a citation of an observation of the particle if one can be provided"/></p>
		    <p><input class="btn btn-primary" value="Add Particle" onClick="return checkparticle();"/></p></span>
	  </form>
	</div>
</div>



{% endblock %}
