
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>fstate - final state search engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/fstate.css">
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
     <link rel="stylesheet" href="/static/css/pretty_form.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
{% block head_before %} {% endblock %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/spin.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/js/masses.js"></script>


<script type="text/javascript">
var opts = {
  lines: 13, // The number of lines to draw
  length: 20, // The length of each line
  width: 10, // The line thickness
  radius: 30, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#000', // #rgb or #rrggbb
  speed: 1, // Rounds per second
  trail: 46, // Afterglow percentage
  shadow: true, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: 'auto' // Left position relative to parent in px
};

var global_data;

function refilter(fathers_list)
{
  if(fathers_list.length == 0) {
    $(".decay").show();
    return;
  }

  $(".decay").hide();

  for(var f in fathers_list) {
    var father = fathers_list[f];
    $('tr[class|="decay father-'+father+'"]').show();
  }
  return;
}

function show_results(data)
{
    for ( var i in data['result']) {
      var result = data['result'][i];
      var father = data['result'][i]['father'];

      $('#results tr:last').after("<tr class=\"decay father-"+father+"\">\
      <td>"+ (father in masses ? masses[father][0] : "---") +"</td>\
      <td>"+ result['branching'] +"</td>\
      <td>"+ result['scheme'] +"</td>\
      </tr>");
    }

    $("#search_results").append("<hr/><p>Generated in "+ data['time'] +"</p>");
}

function create_filters(data)
{
  var fathers = {};

  for ( var i in data['result']) 
  {
      var father = data['result'][i]['father'];
      if(father in fathers)
        continue;

      fathers[father] = true;
  }

  var availableTags = Object.keys(fathers);

  function split( val ) {
    return val.split( /,\s*/ );
  }
  function extractLast( term ) {
    return split( term ).pop();
  }

  $( "#tags" )
    // don't navigate away from the field on tab when selecting an item
    .bind( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
          $( this ).data( "ui-autocomplete" ).menu.active ) {
        event.preventDefault();
      }
    })
    .autocomplete({
      minLength: 0,
      source: function( request, response ) {
        // delegate back to autocomplete, but extract the last term
        response( $.ui.autocomplete.filter(
          availableTags, extractLast( request.term ) ) );
      },
      focus: function() {
        // prevent value inserted on focus
        return false;
      },
      select: function( event, ui ) {
        var terms = split( this.value );
        // remove the current input
        terms.pop();
        // add the selected item
        terms.push( ui.item.value );
        refilter(terms);
        // add placeholder to get the comma-and-space at the end
        terms.push( "" );
        this.value = terms.join( ", " );

        return false;
      }
    });

}

function do_search()
{
  var query = $("#query").val();
  if (query == "") return;

  $("#block_content").hide();

  var target = document.getElementById('loading');
  var spinner = new Spinner(opts).spin(target);

  $.getJSON('/results/' + query + '.json', function(data) {
    $("#loading").hide();
    $("#search_results").removeClass('hidden');
    
    global_data = data;
    show_results(data);
    create_filters(data);

  });
}
</script>
{% block head %} {% endblock %}
  </head>

  <body>    

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">fstate &beta;</a>

          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/about">About</a></li>
              <li><a href="/howto-search">How to search</a></li>
              <li><a href="/add-physics">Submit Physics</a></li>
              <li><a href="mailto:ilya.komarov@epfl.ch,a.baranov@cern.ch?Subject=fstate%20feedback">Feedback</a></li>
            </ul>

            <input id="query" type="text" class="navbar-search search-query" value="pi+ pi- K+ K-">
          </div><!--/.nav-collapse --> 
        </div>
      </div>
    </div>

    <div class="container">
      <div id="block_content">
      {% block content %} {% endblock %}
      </div>
    </div>
    <div class="container">
      <div id="loading"></div>

      <div id="search_results" class="hidden">
        <div class="ui-widget">
          <label for="tags">Filter by fathers: </label>
          <input id="tags" size="50" />
        </div>
        <hr/>
        <span id="res_table">
          <table id="results" class="table-striped">
            <tr>
                <td><strong>Father mass, MeV</strong></td>
                <td><strong>Approximate branching fraction &darr;</strong></td>
                <td><strong>Mode</strong></td>
            </tr>
          </table>
        </span>
      </div>
    </div> <!-- /container -->

  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    -->

    <script type="text/javascript">
      $("#query").keyup(function(event){
        if(event.keyCode == 13){
         do_search();
        }
      }); 

    </script>
  </body>
</html>
