{% extends "base.html" %}

{% block content %}
<div id="AboutTop">
<h1 id="AboutLabel">How to search?</h1>
</div>


<div>
	<h2>Table of particles</h2>

<table border ="1">
<tr>
<td>pi+</td>
<td>pi-</td>
<td>pi0</td>
<td>mu+</td>
<td>mu-</td>
</tr>
<tr>
<td>e+</td>
<td>e-</td>
<td>K+</td>
<td>K-</td>
<td>f_2(1810)</td>
</tr>
<tr>
<td>K(3100)+</td>
<td>rho(1570)</td>
<td>a_0(1450)</td>
<td>Sigma_c(2455)</td>
<td>N(1720)</td>
</tr>
<tr>
<td>N(2100)</td>
<td>K_0^*(1430)</td>
<td>Sigma-</td>
<td>f_2(2150)</td>
<td>pi_2(1670)</td>
</tr>
<tr>
<td>pi_2(1880)</td>
<td>K^*(1410)</td>
<td>N(1875)</td>
<td>Sigma(1690)</td>
<td>K_4^*(2045)</td>
</tr>
<tr>
<td>Delta(2300)</td>
<td>X(10650)+</td>
<td>K0L</td>
<td>K_2(2250)</td>
<td>Sigma+</td>
</tr>
<tr>
<td>N(1650)</td>
<td>Sigma_b^*()</td>
<td>phi(1680)</td>
<td>f_J(2220)</td>
<td>Sigma(3000)</td>
</tr>
<tr>
<td>pi_1(1400)</td>
<td>Lambda(1800)</td>
<td>N(2700)</td>
<td>Lambda(1670)</td>
<td>Delta(2150)</td>
</tr>
<tr>
<td>phi_3(1850)</td>
<td>Sigma(1670)</td>
<td>rho(1700)</td>
<td>eta_c(1S)</td>
<td>psi(3770)</td>
</tr>
<tr>
<td>Sigma_c(2800)</td>
<td>Sigma(2030)</td>
<td>Lambda_b()0</td>
<td>D_s^*()+</td>
<td>f_0(400-1200)</td>
</tr>
<tr>
<td>Sigma(2100)</td>
<td>f_2(2340)</td>
<td>psi(4040)</td>
<td>chi_b0(1P)</td>
<td>pi(1800)</td>
</tr>
<tr>
<td>Sigma(1580)</td>
<td>X(10610)-</td>
<td>chi_c1(1P)</td>
<td>Delta(1950)</td>
<td>h_1(1595)</td>
</tr>
<tr>
<td>N(1520)</td>
<td>Sigma_b()</td>
<td>Sigma(1385)</td>
<td>K_2^*(1430)</td>
<td>D^*(2010)</td>
</tr>
<tr>
<td>Sigma(1915)</td>
<td>X(4250)+</td>
<td>D_0^*(2400)+</td>
<td>K^*(892)</td>
<td>h_1(1170)</td>
</tr>
<tr>
<td>B_2^*(5747)0</td>
<td>Xi0</td>
<td>D^*(2640)+</td>
<td>Delta(2420)</td>
<td>N(1990)</td>
</tr>
<tr>
<td>a_1(1640)</td>
<td>psi(4160)</td>
<td>N(2220)</td>
<td>Omega(2470)-</td>
<td>eta(1475)</td>
</tr>
<tr>
<td>K_2(1580)</td>
<td>a_6(2450)</td>
<td>Lambda(2100)</td>
<td>Upsilon(10860)</td>
<td>X(4360)</td>
</tr>
<tr>
<td>Lambda_c(2880)+</td>
<td>chi_b2(1P)</td>
<td>Sigma(1660)</td>
<td>K_5^*(2380)</td>
<td>rho_3(1690)</td>
</tr>
<tr>
<td>f_4(2050)</td>
<td>D(2600)</td>
<td>N(1700)</td>
<td>n</td>
<td>D_s()+</td>
</tr>
<tr>
<td>Sigma(1620)</td>
<td>f_2(1640)</td>
<td>X(10650)-</td>
<td>Lambda(1405)</td>
<td>Sigma0</td>
</tr>
<tr>
<td>f_0(1710)</td>
<td>pi_2(2100)</td>
<td>Sigma(1775)</td>
<td>Upsilon(2S)</td>
<td>D(2750)</td>
</tr>
<tr>
<td>X(10610)+</td>
<td>f_0(1370)</td>
<td>D_0^*(2400)0</td>
<td>Delta(2390)</td>
<td>B0</td>
</tr>
<tr>
<td>Lambda(1520)</td>
<td>Sigma(1750)</td>
<td>Delta(1920)</td>
<td>Lambda_c(2765)+</td>
<td>h_c(1P)</td>
</tr>
<tr>
<td>X(4350)</td>
<td>K_2^*(1980)</td>
<td>D_1(2420)0</td>
<td>Sigma(2000)</td>
<td>f_2(1910)</td>
</tr>
<tr>
<td>Lambda</td>
<td>N(2190)</td>
<td>Sigma(1840)</td>
<td>Sigma(1560)</td>
<td>Sigma(1940)</td>
</tr>
<tr>
<td>rho(2150)</td>
<td>N(2000)</td>
<td>Delta(2400)</td>
<td>f_1(1510)</td>
<td>chi_c2(1P)</td>
</tr>
<tr>
<td>Xi-</td>
<td>Delta(~3000)</td>
<td>D0</td>
<td>omega(1420)</td>
<td>B+</td>
</tr>
<tr>
<td>N(2060)</td>
<td>K_3^*(1780)</td>
<td>chi_b1(1P)</td>
<td>f_2(1565)</td>
<td>eta(1405)</td>
</tr>
<tr>
<td>K_2(1770)</td>
<td>Delta(2350)</td>
<td>chi_b0(2P)</td>
<td>K(1460)</td>
<td>D_2^*(2460)0</td>
</tr>
<tr>
<td>a_2(1700)</td>
<td>Sigma(2070)</td>
<td>Lambda_c(2625)+</td>
<td>K_1(1270)</td>
<td>a_2(1320)</td>
</tr>
<tr>
<td>rho(1450)</td>
<td>B_s()0</td>
<td>Sigma_c(2520)</td>
<td>Lambda_c(2940)+</td>
<td>Xi_c()0</td>
</tr>
<tr>
<td>chi_b1(2P)</td>
<td>Delta(2200)</td>
<td>f_2^'(1525)</td>
<td>omega_3(1670)</td>
<td>Omega(2250)-</td>
</tr>
<tr>
<td>N(1680)</td>
<td>N(~3000)</td>
<td>K_0^*(1950)</td>
<td>N(1675)</td>
<td>Upsilon(4S)</td>
</tr>
<tr>
<td>D_1^*(2420)+</td>
<td>Sigma(1770)</td>
<td>Sigma(1880)</td>
<td>Delta(1620)</td>
<td>X(3872)</td>
</tr>
<tr>
<td>Delta(2750)</td>
<td>X(4250)-</td>
<td>chi_b2(2P)</td>
<td>h_b(1P)</td>
<td>K(1630)</td>
</tr>
<tr>

<td>K_2(1820)</td>
<td>eta_c(2S)</td>
<td>eta^'(958)</td>
<td>chi_c0(1P)</td>
<td>K_1(1400)</td>
</tr>
<tr>
<td>f_0(1500)</td>
<td>Upsilon(1D)</td>
<td>K(1830)</td>
<td>f_2(1430)</td>
<td>N(2600)</td>
</tr>
<tr>

<td>B</td>
<td>eta_2(1645)</td>
<td>N(1535)</td>
<td>Delta(2950)</td>
<td>Omega-</td>
</tr>
<tr>

<td>D^*(2010)+</td>
<td>B_c()+</td>
<td>Delta(1900)</td>
<td>B^*</td>
<td>eta(1295)</td>
</tr>
<tr>

<td>a_0(980)</td>
<td>tau-</td>
<td>K_1(1650)</td>
<td>f_2(1270)</td>
<td>Delta(1700)</td>
</tr>
<tr>

<td>X(4260)</td>
<td>pi_1(1600)</td>
<td>Upsilon(1S)</td>
<td>J/psi(1S)</td>
<td>K0S</td>
</tr>
<tr>

<td>N(2250)</td>
<td>Delta(1600)</td>
<td>D_2^*(2460)+</td>
<td>rho(770)</td>
<td>Upsilon(3S)</td>
</tr>
<tr>

<td>K^*(1680)</td>
<td>a_1(1260)</td>
<td>D_s2(2573)+</td>
<td>Upsilon(11020)</td>
<td>X(1835)</td>
</tr>
<tr>

<td>Sigma(2250)</td>
<td>b_1(1235)</td>
<td>chi_b(3P)</td>
<td>f_0(980)</td>
<td>eta_2(1870)</td>
</tr>
<tr>

<td>N(1710)</td>
<td>D_s0^*(2317)</td>
<td>K(3100)-</td>
<td>f_2(2300)</td>
<td>D+</td>
</tr>
<tr>

<td>D_s1(2460)+</td>
<td>psi(2S)</td>
<td>Sigma(2080)</td>
<td>bbar</td>
<td>eta</td>
</tr>
<tr>

<td>Sigma(2620)</td>
<td>Delta(2000)</td>
<td>Delta(1905)</td>
<td>omega(1650)</td>
<td>psi(4415)</td>
</tr>
<tr>

<td>K(3100)--</td>
<td>omega(782)</td>
<td>Lambda(1690)</td>
<td>rho(1900)</td>
<td>f_1(1420)</td>
</tr>
<tr>

<td>D^*(2007)0</td>
<td>Xi_c()+</td>
<td>phi(2170)</td>
<td>Omega(2380)-</td>
<td>N(1440)</td>
</tr>
<tr>

<td>Xi(1690)</td>
<td>Sigma(1480)</td>
<td>D_1(2430)0</td>
<td>Sigma(2455)</td>
<td>B_s2^*(5840)0</td>
</tr>
<tr>

<td>f_1(1285)</td>
<td>K(3100)0</td>
<td>N(2120)</td>
<td>f_6(2510)</td>
<td>phi(1020)</td>
</tr>
<tr>
<td>Lambda_c()+</td>
<td>D_s1(2536)+</td>
</tr>
</table>
</div>

<div id="AboutBottom">
</div>

{% endblock %}
