{% extends "base.html" %}

{% block content %}
<div class="row">
  <!--<div class="span12">-->

    <div id="introduction" class="span6 offset3" style="margin-top: 200px">
        <p>Dear colleagues, we are happy to greet you at the closed &beta;-test of  <strong>fstate</strong> project, which allow to find decays by the final state.</p>
        <p>At this moment you can try to search decays with up to 5 particles in the final state (try pi+ pi- mu+ mu-, for example). More powerfull search is expected soon.</p>
        <p>If you have some comments or see a bug, we would appreciate if you could <a href="mailto:ilya.komarov@epfl.ch,a.baranov@cern.ch?Subject=fstate%20feedback">
          write</a> us about it.</p>
    </div>
  <!--</div>-->
</div>
{% endblock %}
