{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="span6 offset3" style="margin-top: 30%">
    <form class="form-search" method="get">
      final state: <input name="query" type="text" class="input-large search-query">
      <button type="submit" class="btn">Search</button>
      <hr/>
      <p>Dear colleagues, we are happy to greet you at the closed &beta;-test of  <strong>fstate</strong> project, which allow to find decays by the final state.</p>
      <p>At this moment you can try to search decays with total branching > 10<sup>-6</sup> and up to 4 particles in the final state (try pi+ pi- mu+ mu-, for example). More powerfull search is expected soon.</p>
      <p>If you have some comments or see a bug, we would appreciate if you could <a href="mailto:ilya.komarov@epfl.ch,a.baranov@cern.ch?Subject=fstate%20feedback">
        write</a> us about it.
    </form>

  </div>
</div>

{% endblock %}
